{% extends 'base.html' %}
{% block title %} Оформление заказа {% endblock title %}
{% block content %}

<div class="col-md-3 offset-md-2 my-5 pt-3">
  <div class="order-info">
    <h3 style="color:#3cb371">Ваш заказ:</h3>
    <ol>
      {% for item in cart %}
      <li>
        <b>{{ item.product }}</b> - <em>{{ item.quantity }}шт.</em>
        <span>{{ item.total_price }} руб.</span>
      </li>
      {% endfor %}
    </ol>
    <h5 style="color:#ff4947">Итого: {{ cart.get_total_price }} руб.</h5>
  </div>
  <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input class="btn btn-outline-success" type="submit" value="Разместить заказ"></p>
    {% csrf_token %}
  </form>

</div>

{% endblock %}
