{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
  <div class="container" style="text-align: left;">
    <h2 align="center" class="py-4">Оформление заказа:</h2>
    <p>
      Осуществить заказ вы можете по указанным контактным мобильным телефонам либо используя систему заказа товара в
      нашем интернет-магазине.
    </p>
    <h2 align="center">Оплата:</h2>
    <h5>Варианты оплаты при курьерской доставке:</h5>
    <p>Наличный и безналичный расчет. Оплата курьеру после проверки качества и комплектности приобретаемой модели:
      наличными или банковской картой. Способ оплаты заранее оговаривается с администратором магазина.</p>
    <p>К оплате принимаются карты Visa/MasterCard/Maestro/МИР всех типов, а также БелКарт.</p>
    <h2 align="center">Доставка:</h2>
    <h5>Доставка по г. Минск:</h5>
    <ul>
      <li>Ежедневная;</li>
      <li>Бесплатная (при сумме покупки от 100 руб.);</li>
      <li>Привозим до трех моделей на выбор;</li>
      <li>При необходимости оказываем услугу по уменьшению длины браслета</li>
    </ul>
    <p>
      Время приема заказов операторами осуществляется с 9.00 до 21.00. Если вам удобно оформить заявку через Корзину
      сайта, то вы можете сделать это в любое удобное для вас время. После оформления заказа мы обязательно свяжемся с
      вами для согласования условий заказа.
    </p>
    <p>
      Дополнительную информацию вы всегда можете уточнить по телефону: <b>+375 33 XXX-XX-XX</b>.
    </p>
    <h5>Доставка по всей территории Республики Беларусь:</h5>
    <ul>
      <li>Бесплатная (при сумме покупки от 100 руб.);</li>
      <li>Осуществляется курьерской службой;</li>
      <li>Срок доставки — от 1 до 3 рабочих дней.</li>
    </ul>
    <p>
      Товар доставляется по будним дням и в субботу в промежутке с 9.00 до 17.00.
    </p>
    <h5>Самовывоз — при сумме покупки до 100 BYN:</h5>
    <p>
      При сумме покупки до 100 BYN — позвоните по телефону <b>+375 33 XXX-XX-XX</b>. Мы уточним для вас место самовывоза
      и
      размер скидки.
    </p>
  </div>
</div>
{% endblock %}