{% extends "base.html" %}
{% load static %}
{% block title %} Главная страница {% endblock title %}

{% block content %}

<div class="container my-5">
  <img src="{% static 'images/start.jpg' %}" class="img-fluid" alt="...">
</div>
<div class="container">
  <h3 align="center">Наручные часы – важнейший аксессуар современного мужчины</h3>
  <p>
  <h6 style="text-indent: 2em; color:#696969">
    <em>Мужчины любят все вокруг контролировать. Контроль над чувствами, контроль над окружающими,
      контроль над временем - это основные правила выживания в современном мире. Надежные наручные часы помогут любому
      представителю сильного пола подчинить себе каждую секунду своей жизни</em>
  </h6>
  <p>
</div>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
    {% for brand in manufacture %}
    <div class="col" align="center">
      <div class="card border-0" style="width: 70%; height: auto;">
        <a class="image-button" href="{% url 'shop:catalogue' brand.brand %}">
          <img src="{{ brand.image.url }}" class="card-img-top" alt="..." />
        </a>
        <div class="card-body">
          <a href="{% url 'shop:catalogue' brand.brand %}" class="btn btn-outline-dark">
            Перейти в каталог {{ brand.brand }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content%}
