{% extends "base.html" %}
{% load static %}
{% block title %} Весь товар {% endblock title %}

{% block content %}
<div class="container my-5"><br>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">

          <form method="GET" action="{% url 'shop:products_all' %}">
            <div class="form-group">
              <label class="card-title" for="sort_price">Цена</label>
              <select class="form-control" id="sort_price" name="sort_price">
                <option value="price">по возрастанию</option>
                <option value="-price">по убыванию</option>
              </select>
            </div>
            <hr>

            <h5 class="card-title">Тип механизма</h5>
            <div class="form-check">
              <div class="container" align="left">
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="Механические с автоподзаводом" name="type">
                  механические с автоподзаводом
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="Механические с ручным заводом" name="type">
                  механические с ручным заводом
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="Кварцевые" name="type">
                  кварцевые
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="Кварцевый с солнечной подзарядкой" name="type">
                  кварцевый с солнечной подзарядкой
                </label>
              </div>
            </div>
            <hr>

            <h5 class="card-title">Материал корпуса</h5>
            <div class="form-check">
              <div class="container" align="left">
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="нержавеющая сталь" name="case_material">
                  нержавеющая сталь
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="нержавеющая сталь + IP покрытие"
                    name="case_material">
                  нержавеющая сталь + IP покрытие
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="нержавеющая сталь + PVD покрытие"
                    name="case_material">
                  нержавеющая сталь + PVD покрытие
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="нержавеющая сталь + керамика"
                    name="case_material">
                  нержавеющая сталь + керамика
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="титан" name="case_material">
                  титан
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="титан + PVD-покрытие" name="case_material">
                  титан + PVD-покрытие
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="титан + золото" name="case_material">
                  титан + золото
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="розовое золото" name="case_material">
                  розовое золото
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="карбон" name="case_material">
                  карбон
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="керамика" name="case_material">
                  керамика
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="полимерный пластик" name="case_material">
                  полимерный пластик
                </label>
              </div>
            </div>
            <hr>

            <h5 class="card-title">Материал браслета</h5>
            <div class="form-check">
              <div class="container" align="left">
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="нержавеющая сталь" name="bracelet_material">
                  нержавеющая сталь
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="нержавеющая сталь + IP покрытие"
                    name="bracelet_material">
                  нержавеющая сталь + IP покрытие
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="кожаный ремешок" name="bracelet_material">
                  кожаный ремешок
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="каучук" name="bracelet_material">
                  каучук
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="каучук + джинса" name="bracelet_material">
                  каучук + джинса
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="пластик" name="bracelet_material">
                  пластик
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="титан" name="bracelet_material">
                  титан
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="титан + IP покрытие" name="bracelet_material">
                  титан + IP покрытие
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="текстиль" name="bracelet_material">
                  текстиль
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="керамика" name="bracelet_material">
                  керамика
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="розовое золото" name="bracelet_material">
                  розовое золото
                </label>
              </div>
            </div>
            <hr>

            <h5 class="card-title">Тип стекла</h5>
            <div class="form-check">
              <div class="container" align="left">
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="сапфировое" name="glass">
                  сапфировое
                </label>
                <label class="form-check-label" style="width: 100%;">
                  <input class="form-check-input" type="checkbox" value="минеральное" name="glass">
                  минеральное
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Применить</button>
          </form>

        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        {% if page_obj %}
        {% for model in page_obj %}
        {% with brand=model|slice:":0"|safe %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="col" align="center">
            <a class="image-button" href="{% url 'shop:watch' brand  model.pk %}">
              <img src="{{ model.image.url }}" class="card-img-top" alt="{{ model }}" style="width: 60%; height: auto;">
            </a><br>
            <div class="card border-0">
              <h6 class="card-title"><em>{{ model.model }}</em></h6>
              <span style="color:#787878">
                <em>{{ model.collection }}</em>
              </span>
              <h5 class="card-title">{{ model.price }} руб. </h5>
              <form action="{% url 'cart:cart_add' model.pk %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="В корзину" class="btn btn-outline-dark btn-sm">
              </form>
            </div>
          </div>
        </div>
        {% endwith %}
        {% endfor %}
        {% else %}
        <div class="container my-5">
          <h4 align="center">Совпадений не найдено!</h4>
          <p class="text-right" align="center">
            <img src="{% static 'images/glass.jpg' %}" alt="Image" style="width: 32%; height: auto;">
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}