{% extends "base.html" %}
{% load static %}
{% block title %} {{product.model}} {% endblock title %}

{% block content %}
<div class="container my-5">
  <table class="table">
    <tr>
      <th>
        <img src="{{ product.image.url }}" alt="{{ model }}">
        <h4 align="center">{{product.model}}</h4>
        <p>
        <h6 align="center" style="color:#787878">{{product.collection}}</h6>
        </p>
      </th>
      <th>
        <h4 align="center">Описание:</h4>
        <div style="text-align: left;">
          <h5 style="text-indent: 2em; color:#696969;">
            {{product.description}}
          </h5>
        </div>

      </th>
  </table>
  <div class="container my-5" align="center"><br>
    <h3 align="center"><em>Цена: {{ product.price }} руб.</em></h3>
    <form action="{% url 'cart:cart_add' product.pk %}" method="post">
      {{ cart_product_form }}
      {% csrf_token %}
      <input type="submit" value="В корзину" class="btn btn-outline-dark">
    </form>
    <!--    <a href="#" class="btn btn-light">В корзину</a>-->
  </div>
  <div class="container">
    <table class="table table-striped">
      <h4 align="center">Характеристики:</h4>
      <tr>
        <th>Тип</th>
        <th>Водозащита</th>
        <th>Вес (г)</th>
        <th>Габариты</th>
        <th>Отображение даты</th>
        <th>Циферблат</th>
        <th>Материал корпуса</th>
        <th>Материал браслета</th>
        <th>Стекло</th>
        <th>Коллекция</th>

      </tr>
      <tr>
        <td>{{ features.type }}</td>
        <td>{{ features.waterproof }}</td>
        <td>{{ features.weight }}</td>
        <td>{{ features.dimensions }}</td>
        <td>{{ features.date_display }}</td>
        <td>{{ features.dial }}</td>
        <td>{{ features.case_material }}</td>
        <td>{{ features.bracelet_material }}</td>
        <td>{{ features.glass }}</td>
        <td>{{ product.collection }}</td>
      </tr>
    </table>
  </div>
</div>
{% endblock content %}
