{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
  <div class="container" style="text-align: left;">


    <h2 align="center" class="py-4">Гарантия:</h2>
    <p>
      ТОЛЬКО ОРИГИНАЛЬНЫЕ ТОВАРЫ С ОФИЦИАЛЬНОЙ ГАРАНТИЕЙ ПРОИЗВОДИТЕЛЯ:<br>
      Все товары, приобретаемые в нашей компании, имеют сертификат соответствия и являются оригинальными.
      На все товары предоставляется гарантия производителя, указанная в гарантийных талонах.
    </p>


    <h2 align="center">Гарантийные условия:</h2>
    <ul>
      <li>В период гарантии, при выполнении условий указанных выше оказывается РЕМОНТ БЕСПЛАТНО В СЛЕДУЮЩИХ СЛУЧАЯХ:
      </li>
      <ul style="list-style: none;">
        <li>- произошла остановка часов, не связанная с расходованием ресурса элемента питания;</li>
        <li>- точность хода не соответствует техническим характеристикам, указанным в паспорте часов;</li>
        <li>- дата календаря не переводится или переводится со смещением цифры в окошке даты календаря.</li>
      </ul>
      <p>Т.е. гарантия распространяется только на механизм часов при условии правильной иэксплуатации, и не
        распространяется на остальные детали часов (см. список ниже).</p>
      <li>Продавец гарантирует исправную работу изделия только при условии полного соблюдения требований, описанных в
        инструкции по эксплуатации.
      </li>
      <li>Гарантийный срок устанавливается заводом изготовителем и прописывается в паспорте часов.</li>
      <li>Начало гарантийного срока эксплуатации исчисляется со дня продажи часов через розничную торговую сеть.
        Гарантией считается действительной при правильном заполненном гарантийном талоне с указанием даты продажи
        артикула, индивидуального номера часов и наличии штампа торгующей организации.
      </li>
      <li>Изделие должно использоваться в строгом соответствии с инструкцией по эксплуатации.</li>
      <li>Гарантийный ремонт осуществляется в специализированных гарантийных мастерских производителя, адреса
        гарантийных мастерских приводятся в паспорте на изделие.
      </li>
      <li>Допускается разрядка элемента питания в течение гарантийного срока. Гарантия не распространяется на элемент
        питания. Профилактическая чистка и смазка механизма не входят в гарантийное обслуживание.
      </li>
    </ul>


    <h2 align="center">Возврат товара:</h2>
    <ul>
      <li>ЧАСЫ НАДЛЕЖАЩЕГО КАЧЕСТВА(не подошли по размеру, форме, фасону, габариту и т.д.), приобретенные в магазине, не
        подлежат возврату или обмену на аналогичный товар.
      </li>
      <li>ЧАСЫ С НЕИСПРАВНОСТЬЮ (ДО 15 ДНЕЙ СО ДНЯ ПЕРЕДАЧИ ТОВАРА): при подтверждении производственного недостатка
        возможен гарантийный ремонт, замена на аналогичный товар или возврат.
      </li>
      <li>ЧАСЫ С НЕИСПРАВНОСТЬЮ (ПОСЛЕ 15 ДНЕЙ СО ДНЯ ПЕРЕДАЧИ ТОВАРА): Возврат или замена возможны только в следующих
        случаях:
      </li>
      <ul style="list-style: none;">
        <li>- При обнаружении существенного (неустранимого) недостатка товара;</li>
        <li>- При нарушение сроков устранения производственного недостатка товара (45 дней);</li>
        <li>- При невозможности использования товара в течение гарантийного срока в совокупности более чем 30 дней
          вследствие неоднократного устранения его различных недостатков.
        </li>
      </ul>
      <p>При обнаружении устранимого производственного недостатка, возможен только гарантийный ремонт.</p>
    </ul>


    <h2 align="center">Гарантия не распространяется:</h2>
    <ul>
      <li>ДЕТАЛИ ЧАСОВ, на которые не распространяется гарантия:
        <ul style="list-style: none;">
          <li>- элемент питания, корпус, кнопки;</li>
          <li>- ремешок, стекло, съемные ушки;</li>
          <li>- браслет, циферблат;</li>
          <li>- упаковку, переводную головку.</li>
        </ul>
      </li>
      <li>ЭЛЕМЕНТ ПИТАНИЯ: является расходным материалом, который устанавливается в момент изготовления часов и подлежит
        замене за счет покупателя. Работа по замене элемента питания осуществляется по условиям производителя, указанным
        в гарантийном талоне.
      </li>
      <li>ГАРАНТИЯ НЕ РАСПРОСТРАНЯЕТСЯ ЕСЛИ:</li>
      <ul style="list-style: none;">
        <li>- часы использовались в условиях оказывающих на них разрушающее воздействие (ударные и вибрационные
          нагрузки,
          сильное магнитное поле и т.д.);
        </li>
        <li>- часы подвергались ремонту не в гарантийной мастерской;</li>
        <li>- часы имеют следы постороннего проникновения или самостоятельного ремонта (нарушена сохранность, часы имеют
          царапины или другие повреждения говорящие, о попытках вскрытия);
        </li>
        <li>- артикул или индивидуальный номер часов не совпадает с информацией указанной в данном гарантийном талоне;
        </li>
        <li>- в гарантийном талоне сделаны какие-либо самостоятельные изменения (дополнения, исправления);</li>
        <li>- часы имеют следы механических повреждений, ударов, небрежного обращения и транспортировки (грубые царапины
          на корпусе или стекле, стекло вылетело или разбилось, отсутствие переводной головки вследствие лома
          переводного вала, слетели стрелки, разрыв и растяжение деталей, отрыв ушек корпуса и т.п.);
        </li>
        <li>- повреждения вызваны воздействием температуры, попаданием влаги, пыли, грязи в результате нарушения правил
          эксплуатации;
        </li>
        <li>- повреждения вызваны воздействиями стихийных бедствий, природных факторов, статического электричества,
          химически агрессивных сред и т.п.
        </li>
      </ul>
      <li>Профилактическая чистка и смазка механизма не входят в гарантийное обслуживание.
      </li>
    </ul>

  </div>
</div>

{% endblock %}
